@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
body {
  @apply bg-darkBrown
}

@theme {
  --breakpoint-sm:640px;
  --breakpoint-md:768px;
  --breakpoint-lg:1024px;
  --breakpoint-xl:1280px;
  --breakpoint-2xl:1536px;


  --font-body: "Josefin Sans", "sans-serif";
 --font-special: "Nunito", "sans-serif";


  --color-darkBrown: #1E1E1E;
    /* More modern */
    --color-brown: #252525;
    /* Less earthy, more neutral */
    --color-black: #131313;
    --color-white: #EDEDED;
    /* Slightly off-white for softness */
  
    --color-cyan: #00A9FF;
    /* More refined electric blue */
    --color-lightCyan: #5CC9F5;
    --color-darkCyan: #0079A8;
  
    --color-orange: #FF6F00;
    /* Neon orange for a sharper pop */
    --color-lightOrange: #FFB74D;
    --color-darkOrange: #D4661F;
  
    --color-grey: #626965;
    --color-lightGrey: #A8A8A8;
    --color-darkGrey: #2F2F2F;
  
    --shadow-cyan: 0px 0px 20px 0px rgba(0, 169, 255, 0.5);
    --shadow-cyan-medium: 10px 10px 200px 150px rgba(94, 186, 220, 0.5);
    --shadow-orange-medium: 10px 10px 200px 150px rgba(255, 111, 0, 0.5);

}